<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="innovatis_whatsapp" translate="label" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
            <class>separator-top</class>
            <label>WhatsApp</label>
            <tab>innovatis</tab>
            <resource>Innovatis_BundleLimiter::admin</resource>
            <group id="innovatis_whatsapp_general" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="innovatis_whatsapp_general_active" translate="label" type="multiselect" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="innovatis_whatsapp_general_phone" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1">
                    <label>Phone Number</label>
                </field>
            </group>
        </section>
    </system>
</config>
